@{
    bool isReplayRoom = true;
    string rounded = "";
    if (ViewData["Title"]?.ToString() == "Jass")
    {
        isReplayRoom = false;
        rounded = "";
    }
}

<div class="card-table @rounded" id="card-table">
    <!-- Score Totals -->
    <div class="score-summary-container">
        <div class="score-summary">
            <table class="table" id="scoreTotals">
                <thead>
                    <tr class="table-heading-border">
                        <th scope="col" id="scoreSummaryNSTitle">N/S</th>
                        <th scope="col" id="scoreSummaryEWTitle">E/W</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="ns-score">0</td>
                        <td id="ew-score">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Call Indicator (at the bottom so it's not blocked) -->
    <!-- Main -->
    <div class="main-board" id="seatPanel">

        <dialog class="fingerprint-menu" id="seatActionsDialogue">
            <div class="seat-actions-arrow" id="seatActionsDialogueArrow"></div>
            <menu>
                <button class="btn2" id="occupySeat">Occupy Seat</button>
                <button class="btn2" id="assignBot">Assign Bot</button>
                <button class="btn2" id="vacate">Vacate</button>
            </menu>
        </dialog>

        <!-- Flex Column 1 -->
        <div class="d-flex flex-column justify-content-center" id="cardCol1">
            <!-- West -->
            <div class="table-card-slot inWest seat-transition" id="tableCardSlot0">
                <!-- Player Marker -->
                <div class="player-marker seat-transition" id="player-marker0">
                    <!-- Player Name -->
                    <span class="player-name-marker" id="usernamelabel0">West</span>
                    <!-- Bot Badge -->
                    <i class="bot-badge bi bi-robot" id="BotBadge0" hidden></i>
                </div>
                <!-- Emote -->
                <div class="emote" style="visibility:hidden" id="bubble0">
                    <i class="emote-icon"></i>
                </div>
                <!-- Winner Marker -->
                <span class="badge rounded-circle winner-marker" id="0winnermarker" hidden>
                    <i class="bi bi-trophy-fill"></i>
                </span>
                <!-- Dealer Badge -->
                <img class="dealer-marker seat-transition" src="~/images/Other/Dealer.svg" id="dealermarker0" hidden>
                <!-- Card -->
                <img class="belot-card" src="~/images/Cards/c0-00.png" id="tablecard0">
                <!-- Fingerprint -->
                @if (!isReplayRoom)
                {
                    <i class="fingerprint fingerprint0 seat-transition bi bi-fingerprint" onclick="openDialogue(this, 0)" id="fingerprint0"></i>
                }
            </div>
        </div>
        <!-- Flex Column 2 -->
        <div class="d-flex flex-column justify-content-center" id="cardCol2">
            <!-- North -->
            <div class="table-card-slot inNorth seat-transition" id="tableCardSlot1">
                <!-- Player Marker -->
                <div class="player-marker seat-transition" id="player-marker1">
                    <!-- Player Name -->
                    <span class="player-name-marker" id="usernamelabel1">North</span>
                    <!-- Bot Badge -->
                    <i class="bot-badge bi bi-robot" id="BotBadge1" hidden></i>
                </div>
                <!-- Emote -->
                <div class="emote" style="visibility: hidden" id="bubble1">
                    <i class="emote-icon"></i>
                </div>
                <!-- Winner Marker -->
                <span class="badge rounded-circle p-1 winner-marker" id="1winnermarker" hidden>
                    <i class="bi bi-trophy-fill"></i>
                </span>
                <!-- Dealer Badge -->
                <img class="dealer-marker seat-transition" src="~/images/Other/Dealer.svg" id="dealermarker1" hidden>
                <!-- Card -->
                <img class="belot-card" src="~/images/Cards/c0-00.png" id="tablecard1">
                <!-- Fingerprint -->
                @if (!isReplayRoom)
                {
                    <i class="fingerprint1 fingerprint seat-transition bi bi-fingerprint" onclick="openDialogue(this, 1)" id="fingerprint1"></i>
                }
            </div>
            <!-- South -->
            <div class="table-card-slot inSouth seat-transition" id="tableCardSlot3">
                <!-- Player Marker -->
                <div class="player-marker seat-transition" id="player-marker3">
                    <!-- Player Name -->
                    <span class="player-name-marker" id="usernamelabel3">South</span>
                    <!-- Bot Badge -->
                    <i class="bot-badge bi bi-robot" id="BotBadge3" hidden></i>
                </div>
                <!-- Emote -->
                <div class="emote" style="visibility: hidden" id="bubble3">
                    <i class="emote-icon"></i>
                </div>
                <!-- Winner Marker -->
                <span class="badge rounded-circle p-1 winner-marker" id="3winnermarker" hidden>
                    <i class="bi bi-trophy-fill"></i>
                </span>
                <!-- Dealer Badge -->
                <img class="dealer-marker seat-transition" src="~/images/Other/Dealer.svg" id="dealermarker3" hidden>
                <!-- Card -->
                <img class="belot-card" src="~/images/Cards/c0-00.png" id="tablecard3">
                <!-- Fingerprint -->
                @if (!isReplayRoom)
                {
                    <i class="fingerprint3 fingerprint seat-transition bi bi-fingerprint" onclick="openDialogue(this, 3)" id="fingerprint3"></i>
                }
            </div>
        </div>
        <!-- Turn Indicator -->
        <span class="badge rounded-circle seat-transition turn-indicator">
            <i class="bi bi-suit-spade-fill seat-transition" id="turnIndicator"></i>
        </span>
        <!-- Flex Column 3 -->
        <div class="d-flex flex-column justify-content-center" id="cardCol3">
            <!-- East -->
            <div class="table-card-slot inEast seat-transition" id="tableCardSlot2">
                <!-- Player Marker -->
                <div class="player-marker seat-transition" id="player-marker2">
                    <!-- Player Name -->
                    <span class="player-name-marker" id="usernamelabel2">East</span>
                    <!-- Bot Badge -->
                    <i class="bot-badge bi bi-robot" id="BotBadge2" hidden></i>
                </div>
                <!-- Emote -->
                <div class="emote" style="visibility: hidden" id="bubble2">
                    <i class="emote-icon"></i>
                </div>
                <!-- Winner Marker -->
                <span class="badge rounded-circle p-1 winner-marker" id="2winnermarker" hidden>
                    <i class="bi bi-trophy-fill"></i>
                </span>
                <!-- Dealer Badge -->
                <img class="dealer-marker seat-transition" src="~/images/Other/Dealer.svg" id="dealermarker2" hidden>
                <!-- Card -->
                <img class="belot-card" src="~/images/Cards/c0-00.png" id="tablecard2">
                <!-- Fingerprint -->
                @if (!isReplayRoom)
                {
                    <i class="fingerprint2 fingerprint seat-transition bi bi-fingerprint" onclick="openDialogue(this, 2)" id="fingerprint2"></i>
                }
            </div>
        </div>
    </div>

    <!-- Throw Cards Button -->
    <div class="throw-cards-container">
        <button class="round-btn btn-prompt btn2" id="throw-cards-btn" hidden>
            Throw
        </button>
    </div>

    <!-- Maximise Suit Selector -->
    <div class="make-call-container">
        <button class="round-btn btn-prompt btn2" id="make-call-btn" hidden>
            Call
        </button>
    </div>

    <!-- Call Indicator -->
    <div class="call-summary-container">
        <div class="call-summary">
            <i class="bi bi-arrows-move seat-transition call-icon caller-indicator" id="wnescallindicator"></i>
            <i class="bi bi-suit-spade-fill call-icon" id="selectedsuit"></i>
            <i class="allNoTrumps cream-text" id="selectedmultiplier"></i>
            <span class="tooltiptext" id="tooltiptext">
                No call has been made
            </span>
        </div>
    </div>
</div>