<div class="scene">
    @* <div class="vline"></div>
    <div class="xyplane"></div> *@

    <div class="crystal">
        <div class="crystal-quarter crystal-quarter-left">
            <div class="crystal-triangle-wrapper crystal-triangle-top">
                <div class="crystal-triangle"></div>
            </div>

            <div class="crystal-rectangle"></div>

            <div class="crystal-triangle-wrapper crystal-triangle-bottom">
                <div class="crystal-triangle"></div>
            </div>
        </div>

        <div class="crystal-quarter crystal-quarter-right">
            <div class="crystal-triangle-wrapper crystal-triangle-top">
                <div class="crystal-triangle"></div>
            </div>

            <div class="crystal-rectangle"></div>

            <div class="crystal-triangle-wrapper crystal-triangle-bottom">
                <div class="crystal-triangle"></div>
            </div>
        </div>

        <div class="crystal-quarter crystal-quarter-front">
            <div class="crystal-triangle-wrapper crystal-triangle-top">
                <div class="crystal-triangle"></div>
            </div>

            <div class="crystal-rectangle"></div>

            <div class="crystal-triangle-wrapper crystal-triangle-bottom">
                <div class="crystal-triangle"></div>
            </div>
        </div>

        <div class="crystal-quarter crystal-quarter-back">
            <div class="crystal-triangle-wrapper crystal-triangle-top">
                <div class="crystal-triangle"></div>
            </div>

            <div class="crystal-rectangle"></div>

            <div class="crystal-triangle-wrapper crystal-triangle-bottom">
                <div class="crystal-triangle"></div>
            </div>
        </div>

    </div>

</div>
