/*header and footer*/

header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: var(--dark-grey);
}

nav {
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    background: var(--dark-grey);
    flex-shrink: 0;
}

    footer div {
        color: white;
    }

.nebula {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
}
