@using Microsoft.AspNetCore.Identity
@using BelotWebApp.Areas.Identity.Data

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a id="manage" class="nav-link d-flex align-items-center gap-2 btn" title="Manage" data-bs-toggle="dropdown">
                @userManager.GetUserName(User)
                <i class="bi-person-fill" style="font-size: 1.5em;"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a title="Manage" class="dropdown-item" href="/Identity/Account/Manage/Index">Manage</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a id="logout" class="dropdown-item" href="/Identity/Account/Logout">Logout</a>
                </li>
            </ul>
        </li>
    }
    else if (ViewData["IsLoginPage"] == null)
    {
        <li class="nav-item dropdown">
            <a id="manage" class="nav-link d-flex align-items-center gap-2 btn" title="Login" data-bs-toggle="dropdown">
                Account
                <i class="bi-person-fill" style="font-size: 1.5em;"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a title="Login" class="dropdown-item" href="/Identity/Account/Login">Login</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a id="Register" class="dropdown-item" href="/Identity/Account/Register">Register</a>
                </li>
            </ul>
        </li>
    }
</ul>
