@using Microsoft.AspNetCore.Identity
@using BelotWebApp.Data

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a id="manage" class="nav-link d-flex align-items-center gap-2 btn" title="Manage" data-bs-toggle="dropdown">
                @userManager.GetUserName(User)
                <i class="bi-person-fill" style="font-size: 1.5em;"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a title="Manage" class="dropdown-item account-action-link" href="/Account/Username">Account</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form method="post" asp-page="/Account/Logout">
                        <button type="submit" id="logout" class="dropdown-item account-action-link">Log out</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else if (ViewData["IsLoginPage"] == null)
    {
        <li class="nav-item dropdown">
            <a id="manage" class="nav-link d-flex align-items-center gap-2 btn" title="Login" data-bs-toggle="dropdown">
                Account
                <i class="bi-person-fill" style="font-size: 1.5em;"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a title="Login" class="dropdown-item account-action-link" href="/Account/Login">Log in</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a id="Register" class="dropdown-item account-action-link" href="/Account/Register">Register</a>
                </li>
            </ul>
        </li>
    }
</ul>
