@{
    ViewData["Title"] = "Replay";
}
@section scripts{
    <script src="~/js/belotreplayroom.js"></script>
    <script src="~/js/belotroomreplayshared.js"></script>
}

<!-- Control Panel -->
@* <div class="d-flex justify-content-between align-items-center bg-info rounded p-1"> *@
<div class="row bg-info rounded p-1 mx-1">
    <!-- Load Game -->
    <div class="col-2 px-0 dropdown">
        <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Load</button>
        <div class="dropdown-menu border-info" style="width:350px">
            <button class="btn btn-primary m-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#my-games" id="my-games-btn" onclick="getMyReplays()">My Games</button>
            <div class="d-flex justify-content-center input-group px-1">
                <input class="form-control my-1" style="font-size:0.7em" type="text" id="gameGUID" placeholder="Game Id" />
                <button class="btn btn-primary my-1" type="button" id="load-game" onclick="getReplay()">Load</button>
            </div>
        </div>
    </div>
    <!-- Replay Control -->
    <div class="col-8 d-flex justify-content-center">
        <button class="btn btn-primary py-0 px-2 mx-1" type="button" onclick="prev()" id="replay-prev" disabled>
            <i class="bi bi-skip-backward-circle-fill" style="font-size:1.5em"></i>
        </button>
        <button class="btn btn-primary py-0 px-2 mx-1" type="button" onclick="back()" id="replay-back" disabled>
            <i class="bi bi-rewind-circle-fill" style="font-size:1.5em"></i>
        </button>
        <button class="btn btn-primary py-0 px-2 mx-1" type="button" onclick="play()" id="pause-replay" disabled>
            <i class="bi bi-play-circle-fill" id="pause-icon" style="font-size:1.5em"></i>
        </button>
        <button class="btn btn-primary py-0 px-2 mx-1" type="button" onclick="fwd()" id="replay-fwd" disabled>
            <i class="bi bi-fast-forward-circle-fill" style="font-size:1.5em"></i>
        </button>
        <button class="btn btn-primary py-0 px-2 mx-1" type="button" onclick="next()" id="replay-next" disabled>
            <i class="bi bi-skip-forward-circle-fill" style="font-size:1.5em"></i>
        </button>
    </div>
    <!-- Slider -->
    <div class="col-2 px-0 d-flex flex-column justify-content-center align-items-center float-end position-relative">
        <input style="width:100%" type="range" name="slider" min="1" max="10" value="5" id="speed-slider" />
        <label class="position-absolute" style="font-size: 0.7rem; bottom: -5px" for="slider" id="speed-value">Speed: 5</label>
    </div>
</div>

<!-- Replay Not Found Modal -->
<div class="modal" id="replay-not-found-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Replay load error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>A replay with the specified id could not be found.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- My Games Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="my-games">
    <!-- Header -->
    <div class="offcanvas-header">
        <h1>My Games</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Header -->
        <table class="table table-responsive rounded bg-info m-0" id="replay-table" hidden>
            <thead>
                <tr>
                    <th>West</th>
                    <th>North</th>
                    <th>East</th>
                    <th>South</th>
                </tr>
            </thead>
            <tbody class="replay-table-body" id="replay-table-body"></tbody>
        </table>
        <p style="color:darkmagenta; text-align:center" id="no-games" hidden></p>
    </div>
</div>

<!-- Card Table -->
<!-- 3 vertical slots -->
<div class="small mt-2 mb-2">
    <div class="replay-cardboard-horizontal rounded-top" style="height: calc(0.4*var(--card-height)) !important" id="cardboard">
        <div class="throw-t throw-t1" id="cardboard">
            <img class="training-card" src="~/images/Cards/c4-10.png" id="ncard0">
            <img class="training-card" src="~/images/Cards/c3-10.png" id="ncard1">
            <img class="training-card" src="~/images/Cards/c2-10.png" id="ncard2">
            <img class="training-card" src="~/images/Cards/c1-10.png" id="ncard3">
            <img class="training-card" src="~/images/Cards/c4-13.png" id="ncard4">
            <img class="training-card" src="~/images/Cards/c3-13.png" id="ncard5">
            <img class="training-card" src="~/images/Cards/c2-13.png" id="ncard6">
            <img class="training-card" src="~/images/Cards/c1-13.png" id="ncard7">
        </div>
    </div>

    <!-- 3 horizontal slots -->
    <div class="d-flex justify-content-center p-0 position-relative">
        <div class="replay-cardboard-vertical">
            <div class="throw-t throw-t0">
                <img class="training-card" src="~/images/Cards/c4-10.png" id="wcard0">
                <img class="training-card" src="~/images/Cards/c3-10.png" id="wcard1">
                <img class="training-card" src="~/images/Cards/c2-10.png" id="wcard2">
                <img class="training-card" src="~/images/Cards/c1-10.png" id="wcard3">
                <img class="training-card" src="~/images/Cards/c4-13.png" id="wcard4">
                <img class="training-card" src="~/images/Cards/c3-13.png" id="wcard5">
                <img class="training-card" src="~/images/Cards/c2-13.png" id="wcard6">
                <img class="training-card" src="~/images/Cards/c1-13.png" id="wcard7">
            </div>
        </div>

        <partial name="_BelotCardTable" />

        <div class="replay-cardboard-vertical">
            <div class="throw-t throw-t2">
                <img class="training-card" src="~/images/Cards/c4-10.png" id="ecard0">
                <img class="training-card" src="~/images/Cards/c3-10.png" id="ecard1">
                <img class="training-card" src="~/images/Cards/c2-10.png" id="ecard2">
                <img class="training-card" src="~/images/Cards/c1-10.png" id="ecard3">
                <img class="training-card" src="~/images/Cards/c4-13.png" id="ecard4">
                <img class="training-card" src="~/images/Cards/c3-13.png" id="ecard5">
                <img class="training-card" src="~/images/Cards/c2-13.png" id="ecard6">
                <img class="training-card" src="~/images/Cards/c1-13.png" id="ecard7">
            </div>
        </div>
    </div>

    <div class="replay-cardboard-horizontal rounded-bottom">
        <div class="throw-t throw-t3" id="cardboard">
            <img class="training-card" src="~/images/Cards/c4-10.png" id="scard0">
            <img class="training-card" src="~/images/Cards/c3-10.png" id="scard1">
            <img class="training-card" src="~/images/Cards/c2-10.png" id="scard2">
            <img class="training-card" src="~/images/Cards/c1-10.png" id="scard3">
            <img class="training-card" src="~/images/Cards/c4-13.png" id="scard4">
            <img class="training-card" src="~/images/Cards/c3-13.png" id="scard5">
            <img class="training-card" src="~/images/Cards/c2-13.png" id="scard6">
            <img class="training-card" src="~/images/Cards/c1-13.png" id="scard7">
        </div>
    </div>
</div>

<!-- Round Summary Modal -->

<div class="modal modal-sm" id="summary-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title">Round summary</h5>
            </div>
            <div class="modal-body py-1">
                <div class="d-flex flex-column m-0 p-0 justify-content-around align-items-center" style="min-width:0">
                    <table class="table table-sm table-striped table-responsive">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">N/S</th>
                                <th scope="col">E/W</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Belotes</th>
                                <td id="summary-belot-NS">0</td>
                                <td id="summary-belot-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Declaration</th>
                                <td id="summary-dec-NS">0</td>
                                <td id="summary-dec-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Tricks</th>
                                <td id="summary-tr-NS">0</td>
                                <td id="summary-tr-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Sum</th>
                                <td id="summary-sum-NS">0</td>
                                <td id="summary-sum-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Game</th>
                                <td id="summary-game-NS">0</td>
                                <td id="summary-game-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Total</th>
                                <td id="summary-total-NS">0</td>
                                <td id="summary-total-EW">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()
