
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/z-ReplayRoom.js"></script>
    <script>
        //$(document).ready(function () {

        //});
    </script>
}

<!-- Control Panel -->

<div class="d-flex justify-content-between align-items-center bg-info rounded p-1" style="min-width:0">
    <!-- Load Game -->
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Load Game</button>
        <div class="dropdown-menu border-info" style="width:350px">
            <button class="btn btn-primary m-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#my-games" id="my-games-btn">My Games</button>
            <div class="d-flex justify-content-center input-group">
                <input class="form-control my-1" style="font-size:0.7em" type="text" id="gameGUID" placeholder="Game Id" />
                <button class="btn btn-primary my-1" type="button" id="load-game">Load</button>
            </div>
        </div>
    </div>
    <!-- Replay Control -->
    <div class="d-flex">
        <button class="btn btn-primary py-0 px-2 mx-1" type="button" onclick="replayBack()" id="replay-back" disabled>
            <i class="bi bi-rewind-circle-fill" style="font-size:1.5em"></i>
        </button>
        <button class="btn btn-primary py-0 px-2 mx-1" type="button" onclick="pauseReplay()" id="pause-replay" disabled>
            <i class="bi bi-play-circle-fill" id="pause-icon" style="font-size:1.5em"></i>
        </button>
        <button class="btn btn-primary py-0 px-2 mx-1" type="button" onclick="replayFwd()" id="replay-fwd" disabled>
            <i class="bi bi-fast-forward-circle-fill" style="font-size:1.5em"></i>
        </button>
    </div>
    <!-- Slider -->
    <div class="d-flex flex-column justify-content-center align-items-center position-relative">
        <p class="position-absolute" style="font-size: 0.7em; margin:0; top:-90%" id="speed-value">Speed: 5</p>
        <input style="width:100%" type="range" min="1" max="10" value="5" id="speed-slider" />
    </div>
</div>

<!-- My Games Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="my-games">
    <!-- Header -->
    <div class="offcanvas-header bg-info">
        <h1>My Games</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body bg-info pt-0 px-0 mx-0">
        <!-- Header -->
        <table class="table table-responsive m-0">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>West</th>
                    <th>North</th>
                    <th>East</th>
                    <th>South</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="replay-table" id="replays-table"></tbody>
        </table>
        <p style="color:darkmagenta" id="no-games"></p>
    </div>
</div>

<!-- Card Table -->
<!-- 3 vertical slots -->
<div class="small mt-2 mb-2">
    <div class="replay-cardboard-horizontal rounded-top" style="height: calc(0.4*var(--card-height)) !important" id="cardboard">
        <div class="throw-t throw-t1" id="cardboard">
            <img class="training-card" src="~/Images/Cards/c4-10.png" id="ncard0">
            <img class="training-card" src="~/Images/Cards/c3-10.png" id="ncard1">
            <img class="training-card" src="~/Images/Cards/c2-10.png" id="ncard2">
            <img class="training-card" src="~/Images/Cards/c1-10.png" id="ncard3">
            <img class="training-card" src="~/Images/Cards/c4-13.png" id="ncard4">
            <img class="training-card" src="~/Images/Cards/c3-13.png" id="ncard5">
            <img class="training-card" src="~/Images/Cards/c2-13.png" id="ncard6">
            <img class="training-card" src="~/Images/Cards/c1-13.png" id="ncard7">
        </div>
    </div>

    <!-- 3 horizontal slots -->
    <div class="d-flex justify-content-center p-0 position-relative">
        <div class="replay-cardboard-vertical">
            <div class="throw-t throw-t0">
                <img class="training-card" src="~/Images/Cards/c4-10.png" id="wcard0">
                <img class="training-card" src="~/Images/Cards/c3-10.png" id="wcard1">
                <img class="training-card" src="~/Images/Cards/c2-10.png" id="wcard2">
                <img class="training-card" src="~/Images/Cards/c1-10.png" id="wcard3">
                <img class="training-card" src="~/Images/Cards/c4-13.png" id="wcard4">
                <img class="training-card" src="~/Images/Cards/c3-13.png" id="wcard5">
                <img class="training-card" src="~/Images/Cards/c2-13.png" id="wcard6">
                <img class="training-card" src="~/Images/Cards/c1-13.png" id="wcard7">
            </div>
        </div>

        <div class="p-3 d-flex replay-tableboard justify-content-center position-relative">

            <!-- Score Totals -->
            <div class="d-flex justify-content-center align-items-center score-summary">
                <table class="table table-sm m-0" id="scoreTotals" style="width: auto;  border-style:hidden">
                    <thead>
                        <tr>
                            <th class="py-0 px-2" style="text-align:center;" scope="col">N/S</th>
                            <th class="py-0 px-2" style="text-align:center" scope="col">E/W</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="py-0" style="text-align: center;font-weight:400">0</td>
                            <td class="py-0" style="text-align:center">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Selected Suit Indicator -->
            <div class="d-flex selected-suit p-0 m-0 justify-content-center align-items-center" style="width:auto;">
                <i class="bi bi-arrows-move" style="font-size: 25px; color: dimgrey;" id="wnescallindicator"></i>
                <div class="position-relative">
                    <i class="bi bi-suit-spade-fill" style="font-size: 25px; color: dimgrey;" id="selectedsuit"></i>
                    <span class="position-absolute" style="top: 40%; left: 60%; font-size:20px;font-weight:500;" id="selectedmultiplier"></span>
                </div>
            </div>

            <div class="d-flex justify-content-center my-3 position-relative">
                <!-- Flex Column 1 -->
                <div class="d-flex flex-column justify-content-center position-relative" id="cardCol1">

                    <!-- West -->
                    <div class="inWest d-flex justify-content-center align-items-center position-relative seatTransition" style="transform:translate(0px,0px)" id="tablecardslot0">
                        <!-- Player Marker -->
                        <div class="player-marker pm-west seatTransition" style="transform: translate(-57%, 0) rotate(270deg)" id="player-marker0">
                            <!-- Player Name -->
                            <span class="badge rounded-pill player-name-marker" id="usernamelabel0">West</span>
                            <!-- Bot Badge -->
                            <i class="bot-badge bi bi-robot" id="BotBadge0" hidden></i>
                        </div>
                        <!-- Emote -->
                        <div class="emote bubble-w" style="visibility:hidden" id="wbubble"></div>
                        <!-- Winner Marker -->
                        <span class="badge rounded-circle p-1 winner-marker" id="0winnermarker" hidden>
                            <i class="bi bi-trophy-fill" style="font-size: 2em; color: gold;"></i>
                        </span>
                        <!-- Dealer Badge -->
                        <img class="dealer-marker seatTransition" style="top:0;left:50%" src="~/Images/Other/Dealer.svg" id="dealermarker0" hidden>
                        <!-- Card -->
                        <img class="belot-card" src="~/Images/Cards/c0-00.png" id="tablecard0">
                    </div>

                </div>
                <!-- Flex Column 2 -->
                <div class="d-flex flex-column justify-content-center" id="cardCol2">
                    <!-- North -->
                    <div class="inNorth d-flex justify-content-center align-items-center position-relative seatTransition" style="transform:translate(0px,0px)" id="tablecardslot1">
                        <!-- Player Marker -->
                        <div class="player-marker seatTransition" style="transform: translate(0, -56%) rotate(0deg)" id="player-marker1">
                            <!-- Player Name -->
                            <span class="badge rounded-pill player-name-marker" id="usernamelabel1">North</span>
                            <!-- Bot Badge -->
                            <i class="bot-badge bi bi-robot" id="BotBadge1" hidden></i>
                        </div>
                        <!-- Emote -->
                        <div class="emote bubble-n" style="visibility: hidden" id="nbubble"></div>
                        <!-- Winner Marker -->
                        <span class="badge rounded-circle p-1 winner-marker" id="1winnermarker" hidden>
                            <i class="bi bi-trophy-fill" style="font-size: 2em; color: gold;"></i>
                        </span>
                        <!-- Dealer Badge -->
                        <img class="dealer-marker seatTransition" style="top:25%;left:100%" src="~/Images/Other/Dealer.svg" id="dealermarker1" hidden>
                        <!-- Card -->
                        <img class="belot-card" src="~/Images/Cards/c0-00.png" id="tablecard1">
                    </div>
                    <!-- South -->
                    <div class="inSouth d-flex justify-content-center align-items-center position-relative seatTransition" style="transform:translate(0px,0px)" id="tablecardslot3">
                        <!-- Player Marker -->
                        <div class="player-marker pnm-south seatTransition" style="transform: translate(0, 55%) rotate(180deg)" id="player-marker3">
                            <!-- Player Name -->
                            <span class="badge rounded-pill player-name-marker" id="usernamelabel3">South</span>
                            <!-- Bot Badge -->
                            <i class="bot-badge bi bi-robot" id="BotBadge3" hidden></i>
                        </div>
                        <!-- Emote -->
                        <div class="emote bubble-s" style="visibility: hidden" id="sbubble"></div>
                        <!-- Winner Marker -->
                        <span class="badge rounded-circle p-1 winner-marker" id="3winnermarker" hidden>
                            <i class="bi bi-trophy-fill" style="font-size: 2em; color: gold;"></i>
                        </span>
                        <!-- Dealer Badge -->
                        <img class="dealer-marker seatTransition" style="top:75%;left:0%" src="~/Images/Other/Dealer.svg" id="dealermarker3" hidden>
                        <!-- Card -->
                        <img class="belot-card" src="~/Images/Cards/c0-00.png" id="tablecard3">
                    </div>
                </div>
                <!-- Turn Indicator -->
                <span class="badge rounded-circle p-1 position-absolute z-4 top-50 start-50 translate-middle bg-white d-flex justify-content-center align-items-center">
                    <i class="bi bi-suit-spade-fill seatTransition" style="font-size: 2em; color: darkmagenta" id="turnIndicator"></i>
                </span>
                <!-- Flex Column 3 -->
                <div class="d-flex flex-column justify-content-center position-relative" id="cardCol3">
                    <!-- East -->
                    <div class="inEast d-flex justify-content-center align-items-center position-relative seatTransition" style="transform:translate(0px,0px)" id="tablecardslot2">
                        <!-- Player Marker -->
                        <div class="player-marker seatTransition" style="transform: translate(58%, 0) rotate(90deg)" id="player-marker2">
                            <!-- Player Name -->
                            <span class="badge rounded-pill player-name-marker" id="usernamelabel2">East</span>
                            <!-- Bot Badge -->
                            <i class="bot-badge bi bi-robot" id="BotBadge2" hidden></i>
                        </div>
                        <!-- Emote -->
                        <div class="emote bubble-e" style="visibility: hidden" id="ebubble"></div>
                        <!-- Winner Marker -->
                        <span class="badge rounded-circle p-1 winner-marker" id="2winnermarker" hidden>
                            <i class="bi bi-trophy-fill" style="font-size: 2em; color: gold;"></i>
                        </span>
                        <!-- Dealer Badge -->
                        <img class="dealer-marker seatTransition" style="top:100%;left:50%" src="~/Images/Other/Dealer.svg" id="dealermarker2" hidden>
                        <!-- Card -->
                        <img class="belot-card" src="~/Images/Cards/c0-00.png" id="tablecard2">
                    </div>
                </div>
            </div>
        </div>

        <div class="replay-cardboard-vertical">
            <div class="throw-t throw-t2">
                <img class="training-card" src="~/Images/Cards/c4-10.png" id="ecard0">
                <img class="training-card" src="~/Images/Cards/c3-10.png" id="ecard1">
                <img class="training-card" src="~/Images/Cards/c2-10.png" id="ecard2">
                <img class="training-card" src="~/Images/Cards/c1-10.png" id="ecard3">
                <img class="training-card" src="~/Images/Cards/c4-13.png" id="ecard4">
                <img class="training-card" src="~/Images/Cards/c3-13.png" id="ecard5">
                <img class="training-card" src="~/Images/Cards/c2-13.png" id="ecard6">
                <img class="training-card" src="~/Images/Cards/c1-13.png" id="ecard7">
            </div>
        </div>
    </div>

    <div class="replay-cardboard-horizontal rounded-bottom">
        <div class="throw-t throw-t3" id="cardboard">
            <img class="training-card" src="~/Images/Cards/c4-10.png" id="scard0">
            <img class="training-card" src="~/Images/Cards/c3-10.png" id="scard1">
            <img class="training-card" src="~/Images/Cards/c2-10.png" id="scard2">
            <img class="training-card" src="~/Images/Cards/c1-10.png" id="scard3">
            <img class="training-card" src="~/Images/Cards/c4-13.png" id="scard4">
            <img class="training-card" src="~/Images/Cards/c3-13.png" id="scard5">
            <img class="training-card" src="~/Images/Cards/c2-13.png" id="scard6">
            <img class="training-card" src="~/Images/Cards/c1-13.png" id="scard7">
        </div>
    </div>
</div>

<!-- Round Summary Modal -->

<div class="modal modal-sm" id="summary-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title">Round summary</h5>
            </div>
            <div class="modal-body py-1">
                <div class="d-flex flex-column m-0 p-0 justify-content-around align-items-center" style="min-width:0">
                    <table class="table table-sm table-striped table-responsive">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">N/S</th>
                                <th scope="col">E/W</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Belotes</th>
                                <td id="summary-belot-NS">0</td>
                                <td id="summary-belot-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Declaration</th>
                                <td id="summary-dec-NS">0</td>
                                <td id="summary-dec-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Tricks</th>
                                <td id="summary-tr-NS">0</td>
                                <td id="summary-tr-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Sum</th>
                                <td id="summary-sum-NS">0</td>
                                <td id="summary-sum-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Game</th>
                                <td id="summary-game-NS">0</td>
                                <td id="summary-game-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Total</th>
                                <td id="summary-total-NS">0</td>
                                <td id="summary-total-EW">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()
