main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.access-denied-background {
    display: grid;
    grid-template-rows: 5% 10% 5% 75% 5%;
    padding: 0 10px 10px 10px;
    height: 80%;
    width: 60%;
    border-radius: 8px;
}

@media only screen and (max-width: 767px) {
    .access-denied-background {
        height: 90%;
        width: 85%;
    }
}

h1, p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    width: 100%;
    min-height: 0;
    height: 100%;
    overflow: hidden;
}
