@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    Layout = "~/Pages/Account/_AccountOtherLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>@Model.StatusMessage</p>
@* <partial name="_StatusMessage" model="Model.StatusMessage" /> *@
<hr />