@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Pages/Account/_AccountOtherLayout.cshtml";
}

<h1>Password reset successful</h1>
<hr />
<p>
    Your password has been reset. Please <a class="link" asp-page="/Account/Login">click here to log in</a>.
</p>
<hr />