:root {
    --small-card-height: 95px;
    --small-card-width: 66.5px;
}

@media only screen and (max-width: 767px) {
    :root {
        --card-height: 100px;
        --card-width: 70px;
        --emote-font-size: 0.7em;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --card-height: 150px;
        --card-width: 105px;
        --emote-font-size: 1em;
    }
}

.suitsize {
    font-size: 2em !important;
}

/*768, 992, 1200*/

/* ----- Tables ----- */

body {
    padding-top: 70px;
}

td {
    font-size: 12px;
}

th {
    font-size: 12px;
}

tbody:last-of-type tr:last-child {
    border-top: 2px solid black;
}

td:first-child {
    font-weight: bold
}

/* ----- East / West rotated badges ----- */

.rotate90 {
    transform: rotate(90deg);
}

.rotate270 {
    transform: rotate(270deg);
}

/* ----- Misc ----- */

.modal-open {
    overflow-y: auto;
}

.accordion-header {
    outline: none;
}

.z-2{
    z-index:2;
}

.z-3 {
    z-index: 3;
}

/*.west {
    transition: all 0.5s ease-in-out;
}*/

/* ----- Card table ----- */

.tableboard {
    background-color: rgba(13, 110, 253, 0.25);
}

.score-summary {
    padding: 0 0 !important;
    position: absolute;
    left: 0;
    height: calc(50% - var(--card-height)*0.5) !important;
    width: calc(50% - var(--card-width)*0.5) !important;
}

.selected-suit {
    padding: 0 0;
    margin: 0 0;
    position: absolute;
    left: calc(50% + var(--card-width)*0.5);
    height: calc(50% - var(--card-height)*0.5) !important;
    width: calc(50% - var(--card-width)*0.5) !important;
}

.suit-selector {
    padding: 0 0;
    margin: 0 0;
    position: absolute;
    bottom: 0;
    left: calc(50% + var(--card-width)*0.5);
    height: calc(50% - var(--card-height)*0.5) !important;
    width: calc(50% - var(--card-width)*0.5) !important;
}

.suit-selector-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #dc3545;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    visibility: hidden;
    overflow: hidden;
}

.suit-selector-pulse {
}

    .suit-selector-pulse::after {
        content: "";
        width: 30px;
        height: 100px;
        position: absolute;
        margin-top: -23px;
        background: white;
        opacity: 0.6;
        filter: blur(10px);
        transform-origin: top;
        animation: suit-selector-pulse 2s infinite;
    }

@keyframes suit-selector-pulse {
    from {
        transform: translate(-75px) rotate(30deg);
    }

    to {
        transform: translateX(55px) rotate(30deg);
    }
}

.winning-card-pulse {
    animation: winning-card-pulse 0.9s ease-in-out;
}

@keyframes winning-card-pulse {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/* ----- Card board ----- */

.cardboard {
    text-align: right;
    overflow-y: clip;
    overflow-x: visible;
    min-height: calc(1.3*var(--card-height));
    width: auto;
    background-color: rgba(25, 135, 84, 0.55);
    margin-right: 0;
}

.card-board-pulse {
    animation: card-board-pulse 2s infinite;
}

@keyframes card-board-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(175, 175, 0, 0.7);
    }

    50% {
        transform: scale(1.005);
        box-shadow: 0 0 0 7px rgba(175, 175, 0, 0.5);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(175, 175, 0, 0.7);
    }
}

/* ----- Emotes ----- */

.emote {
    --emote-color: #e6e830;
    position: relative;
    background: var(--emote-color);
    border-radius: .4em;
    /*height: 10px !important;*/
    /*height:auto;*/
    min-height: 28px;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 700;
    z-index: 2;
    line-height: 105%;
    text-align: center;
    text-transform: uppercase;
    /*#e5e668;
    #ff6a00;*/
}

.bubble-w {
    font-size: var(--emote-font-size);
}

    .bubble-w:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        bottom: 40%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: var(--emote-color);
        border-left: 0;
        margin-top: -10px;
        margin-left: -10px;
    }

.bubble-n {
    font-size: var(--emote-font-size);
}

    .bubble-n:after {
        white-space: pre-wrap;
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 40%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: var(--emote-color);
        border-top: 0;
        margin-top: -10px;
        margin-left: -10px;
    }

.bubble-e {
    font-size: var(--emote-font-size);
}

    .bubble-e:after {
        white-space: pre-wrap;
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        bottom: 40%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-left-color: var(--emote-color);
        border-right: 0;
        margin-top: -10px;
        margin-right: -10px;
    }

.bubble-s {
    font-size: var(--emote-font-size);
}

    .bubble-s:after {
        white-space: pre-wrap;
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0%;
        /*top: 40%;*/
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: var(--emote-color);
        border-bottom: 0;
        margin-bottom: -10px;
        margin-left: -10px;
    }

/* ----- Cards ----- */

.belot-card {
    position: relative;
    z-index: 1;
    height: var(--card-height);
    width: var(--card-width);
}

.belot-card2 {
    position: absolute;
    top: 0%;
    height: var(--card-height);
    width: var(--card-width);
    transform-origin: center 350%;
}

.deal-pulse {
    animation: deal-pulse 3s infinite;
}

@keyframes deal-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    50% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        background: red;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
}

/* ----- Training room ----- */

.training-tableboard {
    background-color: rgba(13, 110, 253, 0.25);
}

.training-cardboard {
    /*padding: 50px 0px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    text-align: right;
    overflow-y: clip;
    overflow-x: visible;
    /*height: var(--small-card-height);*/
    height: var(--small-card-width);
    width: auto;
    background-color: rgba(25, 135, 84, 0.55);
    margin-right: 0;
}

.training-cardboard-side {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    text-align: right;
    /*overflow-y: clip;*/
    overflow-x: visible;
    width: var(--small-card-width);
    /*max-height: var(--small-card-height);*/
    height: auto;
    background-color: rgba(25, 135, 84, 0.55);
    margin-right: 0;
}

.training-card {
    /*margin: 0 calc(((75% / 25) - 1px)-2%);*/
    margin: 0 -10px 0 -10px;
    height: var(--small-card-height);
    width: var(--small-card-width);
    /*margin-top: 5px;*/
}

.training-card-side {
    margin: 0 0 -57px 0;
    height: var(--small-card-height);
    width: var(--small-card-width);
    /*margin-top: 5px;*/
}

.metrics-table td:nth-child(1) {
    width: 5%;
}
.metrics-table td:nth-child(2) {
    width: 9%;
}
.metrics-table td:nth-child(3) {
    width: 5%;
}
.metrics-table td:nth-child(4) {
    width: 13%;
}
.metrics-table td:nth-child(5) {
    width: 11%;
}
.metrics-table td:nth-child(6) {
    width: 14%;
}
.metrics-table td:nth-child(7) {
    width: 23%;
}
.metrics-table td:nth-child(8) {
    width: 15%;
}