:root {
    --card-height: 110px;
    --card-width: 70px;
}

.rfs {
    font-size: 12px;
}

suitsize {
    font-size: 200px;
    height: 40px;
    width: 40px;
}

@media only screen and (min-width: 600px) {
    .rfs {
        font-size: 20px;
    }

    suitsize {
        font-size: 200px;
        height: 40px;
        width: 40px;
    }
}

body {
    padding-top: 70px;
}

td {
    font-size: 12px;
}

th {
    font-size: 12px;
}

tbody:last-of-type tr:last-child {
    border-top: 2px solid black;
}

td:first-child {
    font-weight: bold
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.rotate1 {
    transform: rotate(-17.5deg);
}

.rotate2 {
    transform: rotate(-12.5deg);
}

.rotate3 {
    transform: rotate(-7.5deg);
}

.rotate4 {
    transform: rotate(-2.5deg);
}

.rotate5 {
    transform: rotate(2.5deg);
}

.rotate6 {
    transform: rotate(7.5deg);
}

.rotate7 {
    transform: rotate(12.5deg);
}

.rotate8 {
    transform: rotate(17.5deg);
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

.z5 {
    z-index: 5;
}

.z6 {
    z-index: 6;
}

.z7 {
    z-index: 7;
}

.z8 {
    z-index: 8;
}

.modal-open {
    overflow-y: auto;
}

.accordion-header {
    outline: none;
}

.tableboard {
    background-color: rgba(13, 110, 253, 0.25);
}

.cardboard {
    text-align: right;
    overflow-y: clip;
    overflow-x: visible;
    min-height: var(--card-height);
    max-height: var(--card-height);
    width: auto;
    background-color: rgba(25, 135, 84, 0.55);
    margin-right: 0;
}

.cardrow {
    display: inline-block;
    line-height: 25px;
    text-align: center;
    font-family: arial;
    width: 250px;
    display: flex;
    padding-right: 0;
    justify-content: space-around;
    box-sizing: border-box;
    width: auto;
    min-height: var(--card-height);
    max-height: var(--card-height);
}

.cardrow2 {
    margin-top: -55px;
}

.cont .cardleft {
    transform: rotate(-2.5deg);
    border: 1px solid black;
    border-radius: 10% 15%;
}

.cont .cardright {
    transform: rotate(2.5deg);
    border: 1px solid black;
    border-radius: 10% 15%;
}

.cont .box2:last-child {
    /*margin-right: 0;*/
}

.cont .box2:first-child {
    /*margin-left: 0;*/
}


.cardtop {
    margin: 0 calc(((75% / 25) - 15px)+2%);
    min-width: var(--card-width);
    margin-top: 5px;
}

.cardbtm {
    margin: 0 calc(((75% / 25) - 15px)+5%);
    min-width: var(--card-width);
}

.emote {
    --emote-color: #e6e830;
    position: relative;
    background: var(--emote-color);
    border-radius: .4em;
    /*height: 10px !important;*/
    /*height:auto;*/
    min-height: 28px;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 700;
    z-index: 1;
    line-height: 105%;
    text-align:center;
    text-transform:uppercase;
    /*#e5e668;
    #ff6a00;*/
}


.bubble-w {
}

    .bubble-w:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        bottom: 40%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: var(--emote-color);
        border-left: 0;
        margin-top: -10px;
        margin-left: -10px;
    }

.bubble-n {
}

    .bubble-n:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 40%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: var(--emote-color);
        border-top: 0;
        margin-top: -10px;
        margin-left: -10px;
    }

.bubble-e {
}

    .bubble-e:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        bottom: 40%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-left-color: var(--emote-color);
        border-right: 0;
        margin-top: -10px;
        margin-right: -10px;
    }

.bubble-s {
}

    .bubble-s:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0%;
        /*top: 40%;*/
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: var(--emote-color);
        border-bottom: 0;
        margin-bottom: -10px;
        margin-left: -10px;
    }

.belot-card {
    height: 100px;
    width: var(--card-width);
}

.score-summary {
    padding: 0 0 !important;
    position: absolute;
    left: 0;
    height: calc(50% - var(--card-height)*0.5) !important;
    width: calc(50% - var(--card-width)*0.5) !important;
}

.selected-suit {
    padding: 0 0;
    margin: 0 0;
    position: absolute;
    left: calc(50% + var(--card-width)*0.5);
    height: calc(50% - var(--card-height)*0.5) !important;
    width: calc(50% - var(--card-width)*0.5) !important;
}

.suit-selector {
    padding: 0 0;
    margin: 0 0;
    position: absolute;
    bottom: 0;
    left: calc(50% + var(--card-width)*0.5);
    height: calc(50% - var(--card-height)*0.5) !important;
    width: calc(50% - var(--card-width)*0.5) !important;
}

.deal-pulse {
    animation: deal-pulse 3s infinite;
}

@keyframes deal-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    50% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        background: red;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
}

.card-board-pulse {
    animation: card-board-pulse 2s infinite;
}

@keyframes card-board-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(175, 175, 0, 0.7);
    }

    50% {
        transform: scale(1.005);
        box-shadow: 0 0 0 7px rgba(175, 175, 0, 0.5);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(175, 175, 0, 0.7);
    }
}

.suit-selector-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    background: #dc3545;
    color:white;
    font-size: 0.9em;
    font-weight:500;
    visibility: hidden;
    overflow: hidden;
}

.suit-selector-pulse {
}

    .suit-selector-pulse::after {
        content: "";
        width: 30px;
        height: 100px;
        position: absolute;
        margin-top: -23px;
        background: white;
        opacity: 0.6;
        filter: blur(10px);
        transform-origin: top;
        animation: suit-selector-pulse 2s infinite;
    }

@keyframes suit-selector-pulse {
    from {
        transform: translate(-75px) rotate(30deg);
    }

    to {
        transform: translateX(55px) rotate(30deg);
    }
}