@page
@model EmailModel
@{
    ViewData["Title"] = "Profile";
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<form id="email-form" method="post">
    <hr />
    <partial name="_StatusMessage" for="StatusMessage" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-floating input-group mb-3">
        <input asp-for="Input.Email" class="form-control" />
        @if (Model.IsEmailConfirmed)
        {
            <div class="input-group-append">
                <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
            </div>
        }
        <label asp-for="Input.Email" class="form-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger" style="width:100%"></span>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center" style="gap:1em">
        @if (!Model.IsEmailConfirmed)
        {
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn2">Send verification email</button>
        }
        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn2">Update email</button>
    </div>
    <hr />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
