@{
    ViewBag.Title = "Home Page";
}

<div class="bg-info p-5 rounded mb-5 mt-5">
    <h1>NiobiumFire Web App</h1>
    <p class="lead">ASP.NET</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Belot</h2>
        <p>Klaverjassen. Jass.</p>
        <p><button type="button" onclick="location.href='/Room/Index'" class="btn btn-primary">Join a room &raquo;</button></p>
    </div>
    <div class="col-md-6">
        <h2>Train Advanced Agent</h2>
        <p>Klaverjassen. Jass.</p>
        <p><button type="button" onclick="location.href='/Training/Index'" class="btn btn-primary">Training center &raquo;</button></p>
    </div>
</div>