main {
    grid-template-rows: 5% 25% 2% 10% 2% 56%;
}

.title-banner {
    max-width: 90vw;
    width: 100%;
    height: 100%;
    margin: 0;
}

.title-banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

::deep .title-banner-text img {
    max-width: 70%;
    max-height: 100%;
    width: auto;
    height: auto;
}

@media (max-width: 576px) {
    ::deep .title-banner-text img {
        max-width: 90%;
        width: 90%;
    }
}

.lower-section {
    display: grid;
    grid-template-columns: 15% 25% 20% 25% 15%;
    min-width: 0;
    width: 100%;
    min-height: 0;
    height: 100%;
    /*overflow: auto;*/
}

@media (max-width: 1550px) {
    .lower-section {
        grid-template-columns: 3% 32% 30% 32% 3%;
    }
}

@media (max-width: 880px) {
    .lower-section {
        grid-template-columns: 0% 25% 50% 25% 0%;
    }
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    width: 100%;
    min-height: 0;
    height: 100%;
    overflow: hidden;
}

.menu-buttons-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    overflow-y: auto;
    padding-bottom: 5px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-height: 100%;
}

@media (max-width: 640px) {
    .menu-buttons .btn2 {
        font-size: 0.8rem;
        padding: 8px 5px;
    }
}

.casual-btn-group {
    display: flex;
    width: 100%;
}

    .casual-btn-group .menu-buttons .btn2 {
        white-space: nowrap;
        flex: 1 1 0;
    }


.btn-group .btn2 {
    border-radius: 0; /* remove rounding */
    margin: 0; /* no spacing between buttons */
    flex: 1; /* equal width */
    border-right: none; /* remove duplicate borders */
}

    /* Round only the first and last button */
    .btn-group .btn2:first-child {
        border-top-left-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
    }

    .btn-group .btn2:last-child {
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        border-right: 0.5px solid black; /* restore right border for last button */
    }

p {
    color: white;
    text-align: center;
    margin: 0;
}

/* Lobby */

.modal-body {
    display: flex;
    justify-content: center;
    max-height: 60vh !important;
    overflow-x: auto;
}

@media(max-width:500px) {
    ::-webkit-scrollbar {
        width: 1.5vw;
    }
}

.form-btn {
    color: unset;
    transform-origin: 50% 52%;
}

.spinning {
    animation: spin 0.4s linear;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

btn-close {
    opacity: initial;
    color: var(--cream-text) !important;
    background-color: black;
}

table.table {
    table-layout: fixed;
    --column-1: 15%;
    --column-2: 18%;
    --column-3: 18%;
    --column-4: 18%;
    --column-5: 18%;
    --column-6: 13%;
}

    table.table th:nth-child(1),
    table.table td:nth-child(1) {
        width: var(--column-1);
    }

    table.table th:nth-child(2),
    table.table td:nth-child(2) {
        width: var(--column-2);
    }

    table.table th:nth-child(3),
    table.table td:nth-child(3) {
        width: var(--column-3);
    }

    table.table th:nth-child(4),
    table.table td:nth-child(4) {
        width: var(--column-4);
    }

    table.table th:nth-child(5),
    table.table td:nth-child(5) {
        width: var(--column-5);
    }

    table.table th:nth-child(6),
    table.table td:nth-child(6) {
        width: var(--column-6);
    }
