@using BelotWebApp.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@model BelotRoomCreator
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@section scripts {
    <script src="~/js/belotlobby.js"></script>
}

@section styles {
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
}

@{
    bool isSignedIn = signInManager.IsSignedIn(User);
    ViewData["Title"] = "Home";
}

<div class="row banner p-5 rounded mb-5 mt-5" style="text-align:center; min-height:150px;">
    <div class="col-1 col-sm-2 d-flex justify-content-center align-items-center">
        <img class="crystal" src="~/images/NiobiumCrystal.png" />
    </div>
    <div class="col-10 col-sm-8 d-flex align-items-center justify-content-center">
        <h1 class="mb-0" style="font-family: 'Old English Text MT'">NiobiumFire Jass</h1>
    </div>
    <div class="col-1 col-sm-2 d-flex justify-content-center align-items-center">
        <img class="crystal" src="~/images/NiobiumCrystal.png" />
    </div>
</div>


<div class="row justify-content-center">
    @if (!isSignedIn)
    {
        <p style="text-align:center">Welcome! <a asp-area="Identity" asp-page="/Account/Login">Sign in</a> or <a asp-area="Identity" asp-page="/Account/Register">create an account</a> to play.</p>
    }

    <div class=" menu-buttons col-6 col-lg-3">
        @if (!isSignedIn)
        {
            <p><button type="button" class="btn" data-bs-toggle="modal" style="width: 100%" data-bs-target="#rulesModal">Rules</button></p>
        }
        else
        {
            <h2>Jass</h2>
            <p id="numRooms">
                Jass rooms:
                <span id="gameCount">@ViewBag.numGames</span>
            </p>

            <p class="my-0" style="text-align:center">═════ ◆ Ranked ◆ ═════</p>

            <p class="mb-0"><button type="button" class="btn" onclick="populateLobby()" style="width: 100%" data-bs-toggle="modal" data-bs-target="#jass-lobby-modal">Match</button></p>

            <p class="my-0" style="text-align:center">═════ ◆ Casual ◆ ═════</p>

            <form id="createJassGameForm" asp-area="" asp-controller="Room" asp-action="Index" method="post" class="d-none">
                @Html.AntiForgeryToken()
            </form>

            <div class="btn-group casual-btn-group" style="width: 100%" role="group">
                <button type="button" class="btn">Match</button>
                <button type="button" class="btn" onclick="populateLobby()" data-bs-toggle="modal" data-bs-target="#jass-lobby-modal">Lobby</button>
                <button type="submit" class="btn" form="createJassGameForm">Create</button>
            </div>

            <p class="my-0" style="text-align:center">═════ ◆ General ◆ ═════</p>

            <p><button type="button" class="btn" data-bs-toggle="modal" style="width: 100%" data-bs-target="#rulesModal">Rules</button></p>

            <p><button type="button" class="btn" onclick="location.href='/Replay/Index'" style="width: 100%">Replay</button></p>

            if (await userManager.GetUserAsync(User) is ApplicationUser user && await userManager.IsInRoleAsync(user, "Admin"))
            {
                <p><button type="button" onclick="location.href='/Training/Index'" class="btn" style="width: 100%">Training Center</button></p>
            }

        }
    </div>
</div>

<!-- Join Game Modal -->
<div class="modal" tabindex="-1" id="jass-lobby-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Jass Lobby</h5>
                <div class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-arrow-repeat me-2" style="transform: rotate(25deg); font-size: 1.5em; font-weight:500; color:black; cursor:pointer" onclick="populateLobby()"></i>
                    <button type="button" class="btn-close" style="opacity:initial" data-bs-dismiss="modal"></button>
                </div>
            </div>
            <div class="modal-body px-0 px-sm-1">
                <div class="d-flex justify-content-center">
                    <table class="table table-responsive m-0" style="font-size: 10px">
                        <thead>
                            <tr>
                                <th>Started</th>
                                <th>West</th>
                                <th>North</th>
                                <th>East</th>
                                <th>South</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="lobby-table" id="lobby-table"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Rules Modal -->
@await Html.PartialAsync("_JassRules")
