@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/z-BelotLobby.js"></script>
    <script>
        //$(document).ready(function () {

        //});
    </script>
}



<div class="bg-info p-5 rounded mb-5 mt-5">
    <h1>NiobiumFire Web App</h1>
    <p class="lead">ASP.NET</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Belot</h2>
        <p id="numRooms">Klaverjassen rooms: @ViewBag.numGames</p>
        <p><button type="button" onclick="location.href='/Room/Index/new'" class="btn btn-primary" style="width: 30%">Create &raquo;</button></p>

        <p><button type="button" class="btn btn-primary" onclick="populateLobby()" style="width: 30%" data-bs-toggle="modal" data-bs-target="#belot-lobby-modal">Join &raquo;</button></p>

        <p><button type="button" onclick="location.href='/Replay/Index'" class="btn btn-primary" style="width: 30%">Replay &raquo;</button></p>
    </div>
    <div class="col-md-6">
        <h2>Train Advanced Agent</h2>
        <p>Control room. Keep out.</p>
        <p><button type="button" onclick="location.href='/Training/Index'" class="btn btn-primary" disabled>Training center &raquo;</button></p>
    </div>
</div>

<div class="modal" tabindex="-1" id="belot-lobby-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Belot Lobby</h5>
                <div class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-arrow-repeat me-2" style="transform: rotate(25deg); font-size: 1.5em; color:black" onclick="populateLobby()"></i>
                    <button type="button" class="btn-close" style="opacity:initial" data-bs-dismiss="modal"></button>
                </div>
            </div>
            <div class="modal-body">

                <div class="d-flex justify-content-center">
                    <table class="table table-responsive m-0">
                        <thead>
                            <tr>
                                <th>Started</th>
                                <th>West</th>
                                <th>North</th>
                                <th>East</th>
                                <th>South</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="replay-table" id="lobby-table"></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>