.privacy-banner {
    max-width: 50%;
    max-height: 90%;
    overflow: auto;
    padding: 0;
}

.dimmer {
    height: 100%;
    background: rgba(0,0,0,0.3);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 1500px) {
    .privacy-banner {
        max-width: 70%;
    }
}

@media (max-width: 700px) {
    .privacy-banner {
        max-width: 90%;
    }
}

p {
    text-align: justify;
    color: var(--cream-text) !important;
}
