
@{
    //ViewBag.Title = "Room";
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/TrainingRoom.js"></script>
    <script>
        //$(document).ready(function () {
        //    $('#suit-modal').modal('show');
        //});

        //$(document).ready(function () {
        //    const w = document.getElementById("cardWest");
        //    w.style.transition = "all 1s ease-in-out";
        //    //w.style.left = `${ Math.random() * 200 }px`;
        //    //w.style.marginTop = "100px";
        //    window.setTimeout(() => {
        //        document.getElementById("cardCol3").appendChild(w);
        //    }, 0);
        //});

    </script>
}


<h1>@ViewBag.Title</h1>

<!-- Team Selector -->

<div class="d-flex flex-column bg-info rounded p-1">
    <div class="d-flex flex-row justify-content-around align-items-center" style="min-width:0">
        <div class="d-flex">
            <input class="form-control m-1" type="text" id="gameGUID" placeholder="Game GUID" />
            <input class="btn btn-primary m-1" type="button" value="Load" id="load-game" />
        </div>
        <input class="btn btn-primary m-1" type="button" value="Pause" id="pause-game" />
        <div class="d-flex">
            <input class="form-control m-1" type="text" id="speed-value" value="600" />
            <input class="btn btn-primary m-1" type="button" value="Set Game Speed" id="game-speed-btn" />
        </div>
    </div>

    <div class="d-flex m-0 p-0 py-2 mt-2 justify-content-between align-items-center px-sm-5">
        <input class="btn btn-sm btn-dark px-2" type="button" id="dealBtn" value="Deal" disabled />
        <input class="btn btn-sm btn-dark px-1 m-0" type="button" id="newGameBtn" value="New Game" disabled />
    </div>
</div>

<div class="cont small mt-2">
    <div class="training-cardboard rounded" id="cardboard">
        <img class="training-card" src="~/Images/Cards/c4-10.png" id="ncard0">
        <img class="training-card" src="~/Images/Cards/c3-10.png" id="ncard1">
        <img class="training-card" src="~/Images/Cards/c2-10.png" id="ncard2">
        <img class="training-card" src="~/Images/Cards/c1-10.png" id="ncard3">
        <img class="training-card" src="~/Images/Cards/c4-13.png" id="ncard4">
        <img class="training-card" src="~/Images/Cards/c3-13.png" id="ncard5">
        <img class="training-card" src="~/Images/Cards/c2-13.png" id="ncard6">
        <img class="training-card" src="~/Images/Cards/c1-13.png" id="ncard7">
    </div>
</div>

<!-- Card Table -->

<div class="d-flex">
    <div class="training-cardboard-side">
        <img class="training-card-side" src="~/Images/Cards/c4-10.png" id="wcard0">
        <img class="training-card-side" src="~/Images/Cards/c3-10.png" id="wcard1">
        <img class="training-card-side" src="~/Images/Cards/c2-10.png" id="wcard2">
        <img class="training-card-side" src="~/Images/Cards/c1-10.png" id="wcard3">
        <img class="training-card-side" src="~/Images/Cards/c4-13.png" id="wcard4">
        <img class="training-card-side" src="~/Images/Cards/c3-13.png" id="wcard5">
        <img class="training-card-side" src="~/Images/Cards/c2-13.png" id="wcard6">
        <img class="training-card-side" src="~/Images/Cards/c1-13.png" id="wcard7">
    </div>

    <div class="p-3 d-flex training-tableboard rounded justify-content-center position-relative" style="flex:1">

        <!-- Score Totals -->
        <div class="d-flex justify-content-center align-items-center score-summary">
            <table class="table table-sm m-0" id="scoreTotals" style="width: auto;  border-style:hidden">
                <thead>
                    <tr>
                        <th class="py-0 px-2" style="text-align:center;" scope="col">N/S</th>
                        <th class="py-0 px-2" style="text-align:center" scope="col">E/W</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-0" style="text-align: center;font-weight:400">0</td>
                        <td class="py-0" style="text-align:center">0</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Selected Suit Indicator -->
        <div class="d-flex selected-suit p-0 m-0 justify-content-center align-items-center" style="width:auto;">
            <i class="bi bi-arrows-move" style="font-size: 25px; color: dimgrey;" id="wnescallindicator"></i>
            <div class="position-relative">
                <i class="bi bi-suit-spade-fill" style="font-size: 25px; color: dimgrey;" id="selectedsuit"></i>
                <span class="position-absolute" style="top: 40%; left: 60%; font-size:20px;font-weight:500;" id="selectedmultiplier"></span>
            </div>
        </div>

        <div class="d-flex justify-content-center my-3 position-relative">
            <!-- Flex Column 1 -->
            <div class="d-flex flex-column justify-content-center position-relative" id="cardCol1">

                <!-- West -->
                <div class="d-flex position-relative align-items-center" id="cardWest" style="transition: all 3s ease-in-out">
                    <!-- Player Name Marker -->
                    <div class="rotate270">
                        <span class="badge rounded-pill position-absolute top-50 start-0 translate-middle px-3 py-0" style="background-color: black" id="wlabelbadge">
                            <span class="small" style="font-weight:500" id="wlabel">West</span>
                        </span>
                    </div>
                    <!-- Emote -->
                    <div class="emote bubble-w d-flex justify-content-center align-items-center position-absolute" style="left:15px; visibility:hidden" id="wbubble"></div>
                    <!-- Winner Marker -->
                    <span class="badge rounded-circle p-1 position-absolute top-50 start-50 translate-middle bg-black" id="0winnermarker" hidden>
                        <i class="bi bi-trophy-fill" style="font-size: 2em; color: gold;"></i>
                    </span>
                    <img class="belot-card" src="~/Images/Cards/c0-00.png" id="tablecard0">
                </div>
            </div>
            <!-- Flex Column 2 -->
            <div class="d-flex flex-column justify-content-center" id="cardCol2">
                <!-- North -->
                <div class="d-flex position-relative justify-content-center align-items-center">
                    <!-- Player Name Marker -->
                    <span class="badge rounded-pill position-absolute top-0 start-50 translate-middle px-3 py-0" style="background-color: black" id="nlabelbadge">
                        <span class="small" style="font-weight:500" id="nlabel">North</span>
                    </span>
                    <!-- Emote -->
                    <div class="emote bubble-n d-flex justify-content-center align-items-center position-absolute" style="top:15px; visibility: hidden" id="nbubble"></div>
                    <!-- Winner Marker -->
                    <span class="badge rounded-circle p-1 position-absolute top-50 start-50 translate-middle bg-black" id="1winnermarker" hidden>
                        <i class="bi bi-trophy-fill" style="font-size: 2em; color: gold;"></i>
                    </span>
                    <img class="belot-card" src="~/Images/Cards/c0-00.png" id="tablecard1">
                </div>
                <!-- South -->
                <div class="d-flex position-relative justify-content-center align-items-center">
                    <!-- Player Name Marker -->
                    <span class="badge rounded-pill position-absolute top-100 start-50 translate-middle px-3 py-0" style="background-color: black" id="slabelbadge">
                        <span class="small" style="font-weight:500" id="slabel">South</span>
                    </span>
                    <!-- Emote -->
                    @*<div class="emote bubble-s d-flex justify-content-center align-items-center position-absolute" style="top: 70%; left: 55px; visibility: hidden" id="sbubble"></div>*@
                    <div class="emote bubble-s d-flex justify-content-center align-items-center position-absolute" style="bottom: 15px; visibility: hidden" id="sbubble"></div>
                    <!-- Winner Marker -->
                    <span class="badge rounded-circle p-1 position-absolute top-50 start-50 translate-middle bg-black" id="3winnermarker" hidden>
                        <i class="bi bi-trophy-fill" style="font-size: 2em; color: gold;"></i>
                    </span>
                    <img class="belot-card" src="~/Images/Cards/c0-00.png" id="tablecard3">

                    <!-- Turn Indicator -->
                    <span class="badge rounded-circle p-1 position-absolute top-0 start-50 translate-middle bg-white d-flex justify-content-center align-items-center">
                        <i class="bi bi-suit-spade-fill" style="font-size: 2em; color: darkmagenta;" id="turnIndicator"></i>
                    </span>
                </div>
            </div>
            <!-- Flex Column 3 -->
            <div class="d-flex flex-column justify-content-center position-relative" id="cardCol3">

                <!-- East -->
                <div class="d-flex position-relative align-items-center">
                    <!-- Winner Marker -->
                    <span class="badge rounded-circle p-1 position-absolute top-50 start-50 translate-middle bg-black" id="2winnermarker" hidden>
                        <i class="bi bi-trophy-fill" style="font-size: 2em; color: gold;"></i>
                    </span>
                    <img class="belot-card" src="~/Images/Cards/c0-00.png" id="tablecard2">
                    <!-- Player Name Marker -->
                    <div class="rotate90">
                        <span class="badge rounded-pill position-absolute top-50 start-0 translate-middle px-3 py-0" style="background-color: black" id="elabelbadge">
                            <span class="small" style="font-weight:500" id="elabel">East</span>
                        </span>
                    </div>
                    <!-- Emote -->
                    <div class="emote bubble-e d-flex justify-content-center align-items-center position-absolute" style="right: 15px; visibility: hidden" id="ebubble"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="training-cardboard-side">
        <img class="training-card-side" src="~/Images/Cards/c4-10.png" id="ecard0">
        <img class="training-card-side" src="~/Images/Cards/c3-10.png" id="ecard1">
        <img class="training-card-side" src="~/Images/Cards/c2-10.png" id="ecard2">
        <img class="training-card-side" src="~/Images/Cards/c1-10.png" id="ecard3">
        <img class="training-card-side" src="~/Images/Cards/c4-13.png" id="ecard4">
        <img class="training-card-side" src="~/Images/Cards/c3-13.png" id="ecard5">
        <img class="training-card-side" src="~/Images/Cards/c2-13.png" id="ecard6">
        <img class="training-card-side" src="~/Images/Cards/c1-13.png" id="ecard7">
    </div>
</div>

<div class="cont small">
    <div class="training-cardboard rounded" id="cardboard">
        <img class="training-card" src="~/Images/Cards/c4-10.png" id="scard0">
        <img class="training-card" src="~/Images/Cards/c3-10.png" id="scard1">
        <img class="training-card" src="~/Images/Cards/c2-10.png" id="scard2">
        <img class="training-card" src="~/Images/Cards/c1-10.png" id="scard3">
        <img class="training-card" src="~/Images/Cards/c4-13.png" id="scard4">
        <img class="training-card" src="~/Images/Cards/c3-13.png" id="scard5">
        <img class="training-card" src="~/Images/Cards/c2-13.png" id="scard6">
        <img class="training-card" src="~/Images/Cards/c1-13.png" id="scard7">
    </div>
</div>

<!-- Round Summary Modal -->

<div class="modal modal-sm" id="summary-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title">Round summary</h5>
            </div>
            <div class="modal-body py-1">
                <div class="d-flex flex-column m-0 p-0 justify-content-around align-items-center" style="min-width:0">
                    <table class="table table-sm table-striped table-responsive">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">N/S</th>
                                <th scope="col">E/W</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Belotes</th>
                                <td id="summary-belot-NS">0</td>
                                <td id="summary-belot-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Declaration</th>
                                <td id="summary-dec-NS">0</td>
                                <td id="summary-dec-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Tricks</th>
                                <td id="summary-tr-NS">0</td>
                                <td id="summary-tr-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Sum</th>
                                <td id="summary-sum-NS">0</td>
                                <td id="summary-sum-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Game</th>
                                <td id="summary-game-NS">0</td>
                                <td id="summary-game-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Total</th>
                                <td id="summary-total-NS">0</td>
                                <td id="summary-total-EW">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>




<div id="footer">
</div>


@Html.AntiForgeryToken()
