@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Password recovery";
    Layout = "~/Areas/Identity/Pages/_AccountLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
        <label asp-for="Input.Email" class="form-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <button type="submit" class="btn2">Reset Password</button>
    </div>
</form>
<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}