@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Areas/Identity/Pages/_AccountLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    If you have a verified account, a verification email has been sent to the registered email address. Please check your email to reset your password.
</p>
<hr />
