@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    If you have a verified account, a verification email has been sent to the registered email address. Please check your email to reset your password.
</p>
