@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<form id="account" method="post">
    <hr />
    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
    @if (!ViewData.ModelState.IsValid)
    {
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <small class="text-danger">@error.ErrorMessage</small>
        }
    }
    <div class="form-floating mb-3">
        <input asp-for="Input.Login" class="form-control" spellcheck="false" autocomplete="username" aria-required="true" />
        <label asp-for="Input.Login" class="form-label"></label>
        <span asp-validation-for="Input.Login" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
        <label asp-for="Input.Password" class="form-label"></label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.RememberMe" class="form-label">
            <input class="form-check-input" asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center" style="gap:1em">
        <button type="submit" class="btn2 btn2-w-60" id="login-submit">Log in</button>
        <a class="btn2 btn2-w-60" href="./ForgotPassword">Forgot password</a>
        <a class="btn2 btn2-w-60" href="./ResendEmailConfirmation">Confirm email</a>
    </div>
    <hr />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
