@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Areas/Identity/Pages/_AccountLayout.cshtml";
}

<hr />
<h1>You've signed up!</h1>
<p>
    Check your email to confirm your account, then return to the <a class="link" id="registerconfirmation-to-home-link" href="/">home page</a> or <a class="link" id="registerconfirmation-to-login-link" href="/Identity/Account/Login">login page</a>.
</p>
<hr />