@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Areas/Identity/Pages/_AccountLayout.cshtml";
}

<h1>Password reset successful</h1>
<hr />
<p>
    Your password has been reset. Please <a class="link" asp-page="./Login">click here to log in</a>.
</p>
<hr />