.menu-buttons .btn {
    background-color: rgba(159, 82, 178, 1);
    border: 1px solid black;
    color: white;
}

    .menu-buttons .btn:hover {
        background-color: rgba(159, 226, 252, 1);
        border-color: black;
        color: #fff;
        box-shadow: none;
    }

    .menu-buttons .btn:focus {
        outline: none;
        box-shadow: none;
    }

.casual-btn-group {
    display: flex;
    width: 100%;
}

    .casual-btn-group .menu-buttons .btn {
        white-space: nowrap;
        flex: 1 1 0;
    }

.banner {
    background: #9fe2fc;
    background: radial-gradient(circle,rgba(159, 226, 252, 1) 0%, rgba(159, 82, 178, 1) 100%, rgba(252, 70, 107, 1) 70%);
}
