html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
}

/* Tab navigation*/
/*.login-logout-card .card-header {*/
.tab-card .card-header {
    padding: 0px 0px 12px 0px;
}

/*.login-logout-card ul.nav-tabs {*/
.tab-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.profile-card li.nav-item {
    width: 33.333%;
}

.tab-card a.nav-link {
    font-size: 1rem;
    color: #495957;
    text-align: center;
    padding: 1rem;
}

.tab-card .card-body {
    padding: 10px 20px;
}

/* rule modal/carousel p and li tags should have justified text */
.carousel-item p,
.carousel-item li {
    text-align: justify;
}

/* rule modal/carousel content body under carousel-item should be a vertically-scrollable and centered container */
.rules-slide-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    /*max-height: 70%;*/
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

    .rules-slide-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }