:root {
    --small-card-height: 95px;
    --small-card-width: 66.5px;
}

@media (hover: none) {
    .btn.nohover:hover {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(33, 37, 41) !important;
        border-color: rgb(33, 37, 41) !important;
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --training-card-margin: 0.4;
        --card-height: 120px;
        --card-width: 84px;
        /*--emote-font-size: 0.9em;*/
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --training-card-margin: 0.3;
        --card-height: 150px;
        --card-width: 105px;
        /*--emote-font-size: 1em;*/
    }
}

/*td {
    font-size: 12px;
}

th {
    font-size: 12px;
}*/

.allNoTrumps {
    font-family: 'Old English Text MT';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 22px;
    /*height: 100%;*/
}

.total-row {
    border-top: 2px solid black;
}

.replay-table-body * {
    font-size: 0.82em;
    font-weight: 500 !important;
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
    border-collapse: collapse;
}

.replay-table-body tr:nth-child(2n+1) td {
    border-bottom-style: hidden;
    padding-bottom: 0;
    padding-top: 1px;
    padding-bottom: 1px;
}

.replay-table-body tr:first-child td:last-child {
    border-top: 1px solid black;
}

.replay-table-body tr:nth-child(2n+1) td:last-child {
    border-bottom: 1px solid white;
}

.replay-table-body tr:nth-child(2n) td {
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 1px solid white;
}

.lobby-table * {
    font-size: 1.07em;
    vertical-align: middle;
}

.lobby-table tr td:last-of-type {
    color: black;
    justify-content: center;
    padding-right: 1rem;
    margin: 0;
    font-size: 1.3em;
}

/* ----- East / West rotated badges ----- */

.rotate90 {
    transform: rotate(90deg);
}

.rotate270 {
    transform: rotate(270deg);
}

/* ----- Misc ----- */

.modal-open {
    overflow-y: auto;
}

.accordion-header {
    outline: none;
}

.z-1 {
    z-index: 1;
}

/* ----- Card table ----- */

.throw {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    /*padding-top: 1.5em !important;*/
    padding-top: calc(0.12*var(--card-height)) !important;
    padding-right: calc(0.31*var(--card-width)) !important;
    height: calc(0.4*var(--card-height)) !important;
    /*width: calc(4.8*var(--card-width)) !important;*/
    z-index: 3;
}

.throw0 {
    transform-origin: center bottom;
    transform: translate(-50%, -100%) rotate(90deg);
    top: 50% !important;
    left: 0%;
}

.throw1 {
    transform: translate(-50%, 0) rotate(180deg);
    /*bottom: 100% !important;*/
    left: 50%;
}

.throw2 {
    transform-origin: center bottom;
    transform: translate(50%, -100%) rotate(270deg);
    top: 50% !important;
    right: 0;
}

.throw3 {
    transform: translate(-50%,0);
    bottom: 0 !important;
    left: 50%;
}

.mini-belot-card2 {
    height: calc(0.6*var(--card-height)) !important;
    width: calc(0.6*var(--card-width)) !important;
    margin: 0 calc(-0.25*var(--card-width)) 0 0;
}

.mini-belot-card {
    height: calc(0.5*var(--card-height)) !important;
    width: calc(0.5*var(--card-width)) !important;
    margin: 0 calc(-0.31*var(--card-width)) 0 0;
    border: 1px solid gray;
    border-radius: 12%;
}

.modal-low {
    position: absolute;
    transform: translate(-50%, -100%) !important;
    left: 50%;
    margin: 0 !important;
    padding: 0 !important;
    width: 300px !important;
}

.winning-card-pulse {
    animation: winning-card-pulse 0.9s ease-in-out;
}

@keyframes winning-card-pulse {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/* ----- Cards ----- */

.miniboard {
    height: calc(2*0.5*1.3*var(--card-height)) !important;
}

.belot-card {
    position: relative;
    /*z-index: -1;*/
    height: var(--card-height);
    width: var(--card-width);
}

.deal-pulse {
    animation: deal-pulse 3s infinite;
}

@keyframes deal-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    50% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        background: red;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
}

/* ----- Training room ----- */

.throw-t {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    /*padding-top: 1.5em !important;*/
    padding-top: calc(0.01*var(--card-height)) !important;
    padding-right: calc(var(--training-card-margin)*var(--card-width)) !important;
    height: calc(0.4*var(--card-height)) !important;
    /*width: calc(4.8*var(--card-width)) !important;*/
    z-index: 3;
}

.throw-t0 {
    transform-origin: center bottom;
    transform: translate(-50%, -100%) rotate(90deg);
    top: 50% !important;
    left: 0% !important;
}

.throw-t1 {
    transform: translate(-50%, 0);
    left: 50%;
}

.throw-t2 {
    transform-origin: center bottom;
    transform: translate(50%, -100%) rotate(270deg);
    top: 50% !important;
    right: 0;
}

.throw-t3 {
    transform: translate(-50%,0);
    bottom: 0 !important;
    left: 50%;
}

.replay-tableboard {
    display: flex;
    flex-grow: 1;
    background-color: rgba(13, 110, 253, 0.25);
}

.replay-cardboard-horizontal {
    position: relative;
    height: calc(0.4*var(--card-height)) !important;
    background-color: rgba(25, 135, 84, 0.55);
}

.replay-cardboard-vertical {
    position: relative;
    width: calc(0.4*var(--card-height)) !important;
    background-color: rgba(25, 135, 84, 0.55);
}

.training-cardboard-side {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    text-align: right;
    /*overflow-y: clip;*/
    overflow-x: visible;
    width: var(--small-card-width);
    /*max-height: var(--small-card-height);*/
    height: auto;
    background-color: rgba(25, 135, 84, 0.55);
    margin-right: 0;
}

.training-card {
    margin: 0 calc(-1*var(--training-card-margin)*var(--card-width)) 0 0;
    height: var(--small-card-height);
    width: var(--small-card-width);
    border: 1px solid gray;
    border-radius: 0.7em;
}

.training-card-side {
    margin: 0 0 -57px 0;
    height: var(--small-card-height);
    width: var(--small-card-width);
    /*margin-top: 5px;*/
}

.metrics-table td:nth-child(1) {
    width: 5%;
}

.metrics-table td:nth-child(2) {
    width: 9%;
}

.metrics-table td:nth-child(3) {
    width: 5%;
}

.metrics-table td:nth-child(4) {
    width: 13%;
}

.metrics-table td:nth-child(5) {
    width: 11%;
}

.metrics-table td:nth-child(6) {
    width: 14%;
}

.metrics-table td:nth-child(7) {
    width: 23%;
}

.metrics-table td:nth-child(8) {
    width: 15%;
}
