@{
    ViewData["Title"] = "Jass";
}
@section scripts{
    @* <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/js/"></script> *@
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/BelotRoom.js"></script>
    <script src="~/js/belotroomreplayshared.js"></script>

    <script>
        $(document).ready(function () {
            //$('#throw-modal').modal('show');
            //$('#suit-modal').modal('show');
            //$('#extras-modal').modal('show');
            //document.getElementById("throw-cards-btn").hidden = false;
            //document.getElementById("make-call-btn").hidden = false;
            bottom = document.getElementById("tableboard").getBoundingClientRect().bottom - 10;
            document.getElementById("extras-modal-dialog").style.top = bottom + "px";
            document.getElementById("suit-modal-dialog").style.top = bottom + "px";
            document.getElementById("summary-modal-dialog").style.top = bottom + "px";
            document.getElementById("throw-modal-dialog").style.top = bottom + "px";
        });
    </script>
    }

<!-- Control Panel -->
<div class="d-flex flex-column bg-info rounded p-1 my-2 position-relative z-2">
    <div class="d-flex m-0 p-0 py-2 justify-content-between align-items-center px-sm-5">
        @* <input class="btn btn-sm btn-dark px-2" type="button" id="dealBtn" value="Deal" style="visibility:hidden" disabled /> *@
        <button class="btn btn-sm btn-dark px-3 position-relative" type="button" id="chatbtn" value="" data-bs-toggle="modal" data-bs-target="#rulesModal">
            ?
        </button>
        <button class="nohover btn btn-sm btn-dark px-2" type="button" id="rotateSeatsAntiClockwiseBtn" disabled>
            <i class="bi bi-arrow-counterclockwise"></i>
        </button>
        <input class="btn btn-sm btn-dark px-1 m-0" type="button" id="newGameBtn" value="New Game" disabled />
        <button class="nohover btn btn-sm btn-dark px-2" type="button" id="rotateSeatsClockwiseBtn" disabled>
            <i class="bi bi-arrow-clockwise"></i>
        </button>
        <button class="btn btn-sm btn-dark px-3 position-relative" type="button" id="chatbtn" value="" data-bs-toggle="offcanvas" data-bs-target="#lobby">
            ···
            <span class="position-absolute badge bg-danger p-1" style="top:-20%;right:-5%" id="chatLogBadge" hidden>
                <i class="bi bi-envelope-paper-fill"></i>
            </span>
        </button>
    </div>
</div>

<!-- Rules Modal -->
@await Html.PartialAsync("_JassRules")

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="lobby">
    <div class="offcanvas-header">
        <!-- Game Invite -->
        <input class="btn btn-primary m-1" style="min-width:50%" type="button" value="Copy Game Invite" onclick="copyGameInvite()" id="copyGameIdBtn" />
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body pt-0">
        <p class="small" style="margin:0" id="roomId" hidden>@ViewData["roomId"]</p>
        <p class="small" style="margin:0" id="gameId" hidden></p>
        <div class="accordion accordian-flush mt-1" id="roomAccordion">

            <!-- User List -->

            <div class="accordion-item bg-info bg-opacity-75">
                <h2 class="accordion-header" style="outline: none">
                    <button class="accordion-button bg-info border-bottom" style="box-shadow: none" type="button" data-bs-toggle="collapse" data-bs-target="#connectedUsersAccordian">
                        Connected Users
                    </button>
                </h2>
                <div class="accordion-collapse collapse show" id="connectedUsersAccordian" data-bs-parent="#accordionExample">
                    <div class="accordion-body p-0">
                        <div class="p-2" id=userLists>
                            <p class="small" id="userList">here</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chat Controls and Log -->

            <div class="accordion-item bg-info bg-opacity-75">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info border-bottom" style="box-shadow: none" type="button" data-bs-toggle="collapse" data-bs-target="#chatLogAccordian" id="chatLogBtn">
                        Chat Log
                    </button>
                </h2>
                <div class="accordion-collapse collapse show" id="chatLogAccordian" data-bs-parent="#accordionExample">
                    <div class="accordion-body p-0">
                        <div class="d-flex justify-content-around align-items-center" style="min-width:0">
                            <input class="form-control m-1" type="text" style="max-width: 1500px" id="messageToSend" placeholder="Type something..." />
                            <input class="btn btn-primary m-1" type="button" value="Send" id="sendmessage" />
                        </div>
                        <textarea readonly class="bg-transparent border-0 pb-2 ps-3" style="font-size: 12px; resize: none; min-height: 100px; height: 100%; min-width:100%; outline: none" id="chatLog"></textarea>
                    </div>
                </div>
            </div>

            <!-- Score History -->

            <div class="accordion-item bg-info bg-opacity-75">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-info border-bottom" style="box-shadow: none" type="button" data-bs-toggle="collapse" data-bs-target="#scoreHistoryAccordian">
                        Game Score History
                    </button>
                </h2>
                <div class="accordion-collapse collapse show" id="scoreHistoryAccordian">
                    <div class="accordion-body p-0 px-2">
                        <table class="table table-sm table-striped table-responsive" id="scoreTable">
                            <thead>
                                <tr>
                                    <th scope="col">Round</th>
                                    <th scope="col" id="scoreHistoryNSTitle">N/S</th>
                                    <th scope="col" id="scoreHistoryEWTitle">E/W</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="total-row">
                                    <th scope="row">Total</th>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Card Table -->
<partial name="_BelotCardTable" />

<!-- Suit Selector Modal -->

<div class="modal" id="suit-modal" data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false">
    <div class="modal-dialog modal-sm modal-low" id="suit-modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title">Make a call</h5>
                <i class="bi bi-dash-lg" style="cursor:pointer;" onclick="minimiseSuitModal()"></i>
            </div>
            <div class="modal-body p-0">

                <table class="table table-sm suit-call-table mb-0">
                    <tbody>
                        <tr>
                            <td id="suitBtn1">
                                <i class="bi bi-suit-club-fill" style="color: black" id="suit1"></i>
                                <p>Clubs</p>
                            </td>
                            <td id="suitBtn2">
                                <i class="bi bi-suit-diamond-fill" style="color: red;" id="suit2"></i>
                                <p>Diamonds</p>
                            </td>
                            <td id="suitBtn3">
                                <i class="bi bi-suit-heart-fill" style="color: red; " id="suit3"></i>
                                <p>Hearts</p>
                            </td>
                            <td id="suitBtn4">
                                <i class="bi bi-suit-spade-fill" style="color: black; " id="suit4"></i>
                                <p>Spades</p>
                            </td>
                        </tr>
                        <tr>
                            <td id="suitBtn5">
                                <i class="allNoTrumps" style="color: darkmagenta; " id="suit5">A</i>
                                <p>No Trumps</p>
                            </td>
                            <td id="suitBtn6">
                                <i class="allNoTrumps" style="color: darkmagenta; " id="suit6">J</i>
                                <p>All Trumps</p>
                            </td>
                            <td id="suitBtn7">
                                <i class="allNoTrumps" style="color: black; font-style:normal" id="suit7">×2</i>
                                <p>Double</p>
                            </td>
                            <td id="suitBtn8">
                                <i class="allNoTrumps" style="color: black; font-style:normal" id="suit8">×4</i>
                                <p>Redouble</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between modal-footer py-1">
                <button type="button" id="suitBtn9" class="btn btn-danger" onclick="nominateSuit(this);" disabled>⁹⁄₅</button>
                <button type="button" id="suitBtn10" class="btn btn-dark" onclick="nominateSuit(this);">Pass</button>
            </div>
        </div>
    </div>
</div>

<!-- Throw Cards Modal -->

<div class="modal" id="throw-modal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-low" id="throw-modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title" id="throw-modal-title">... throws the cards!</h5>
            </div>
            <div class="d-flex justify-content-center modal-body p-0" style="background-color: rgba(13, 110, 253, 0.25)">
                <div class="throw throw0" id="throwBoard0">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="wthrowcard0">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="wthrowcard1">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="wthrowcard2">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="wthrowcard3">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="wthrowcard4">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="wthrowcard5">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="wthrowcard6">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="wthrowcard7">
                </div>
                <div class="d-flex flex-column justify-content-between miniboard">
                    <div class="throw throw1" id="throwBoard1">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="nthrowcard0">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="nthrowcard1">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="nthrowcard2">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="nthrowcard3">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="nthrowcard4">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="nthrowcard5">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="nthrowcard6">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="nthrowcard7">
                    </div>
                    <div class="throw throw3" id="throwBoard3">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="sthrowcard0">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="sthrowcard1">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="sthrowcard2">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="sthrowcard3">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="sthrowcard4">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="sthrowcard5">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="sthrowcard6">
                        <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="sthrowcard7">
                    </div>
                </div>
                <div class="throw throw2" id="throwBoard2">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="ethrowcard0">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="ethrowcard1">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="ethrowcard2">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="ethrowcard3">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="ethrowcard4">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="ethrowcard5">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="ethrowcard6">
                    <img class="mini-belot-card" src="~/images/Cards/c2-13.png" id="ethrowcard7">
                </div>
            </div>
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-primary" onclick="closeThrowModal()">Continue</button>
            </div>
        </div>
    </div>
</div>

<!-- Declarations Modal -->

<div class="modal" id="extras-modal" data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false">
    <div class="modal-dialog modal-sm modal-low" id="extras-modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title">Declarations</h5>
            </div>
            <div class="modal-body py-1">
                <div class="d-flex flex-column m-0 p-0 justify-content-around align-items-center" id="extras" style="min-width:0">
                </div>
            </div>
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-primary" onclick="closeExtrasModal()">Accept</button>
            </div>
        </div>
    </div>
</div>

<!-- Round Summary Modal -->

<div class="modal" id="summary-modal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-low" id="summary-modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h5 class="modal-title">Round summary</h5>
            </div>
            <div class="modal-body py-1">
                <div class="d-flex flex-column m-0 p-0 justify-content-around align-items-center" style="min-width:0">
                    <table class="table table-sm table-striped table-responsive">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" id="roundSummaryNSTitle">N/S</th>
                                <th scope="col" id="roundSummaryEWTitle">E/W</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Belotes</th>
                                <td id="summary-belot-NS">0</td>
                                <td id="summary-belot-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Declaration</th>
                                <td id="summary-dec-NS">0</td>
                                <td id="summary-dec-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Tricks</th>
                                <td id="summary-tr-NS">0</td>
                                <td id="summary-tr-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Sum</th>
                                <td id="summary-sum-NS">0</td>
                                <td id="summary-sum-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Game</th>
                                <td id="summary-game-NS">0</td>
                                <td id="summary-game-EW">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Total</th>
                                <td id="summary-total-NS">0</td>
                                <td id="summary-total-EW">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>

<!-- User Card Board -->

<div class="small mt-2 position-relative">
    <div class="d-flex align-items-center justify-content-center rounded cardboard position-relative" id="cardboard">
        <img class="belot-card2" src="~/images/Cards/c4-10.png" id="card0" hidden>
        <img class="belot-card2" src="~/images/Cards/c3-13.png" id="card1" hidden>
        <img class="belot-card2" src="~/images/Cards/c2-10.png" id="card2" hidden>
        <img class="belot-card2" src="~/images/Cards/c1-10.png" id="card3" hidden>
        <img class="belot-card2" src="~/images/Cards/c4-10.png" id="card4" hidden>
        <img class="belot-card2" src="~/images/Cards/c3-10.png" id="card5" hidden>
        <img class="belot-card2" src="~/images/Cards/c2-10.png" id="card6" hidden>
        <img class="belot-card2" src="~/images/Cards/c1-10.png" id="card7" hidden>
    </div>
    <div class="shimmer" id="deck-shimmer" hidden></div>
    <img class="deck" src="~/images/Other/Deck.png" id="deck" />
</div>

@Html.AntiForgeryToken()
